In [1]:
import pandas as pd

In [13]:
df = pd.read_excel('market equipment data of HealthCare V1 - Copy.xlsx')

In [14]:
df.head(2)

,ptan,acceptsassignement,participationbegindate,businessname,practicename,practiceaddress1,practiceaddress2,practicecity,practicestate,practicezip9code,telephonenumber,specialitieslist,providertypelist,supplieslist,latitude,longitude,is_contracted_for_cba
0,339460094,False,2001-01-01,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,308 E OAK ST,NaN,KISSIMMEE,FL,347444537,4078700111,MSC With Orthotic-Prosthetic|Orthotic Personnel,NaN,Neuromuscular Elect Stimulators (NMES)/Supplie...,28.30072,-81.40139,True
1,340220155,False,2001-01-01,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,3303 N 75TH ST,NaN,SCOTTSDALE,AZ,852516402,4809451929,Orthotic Personnel|Prosthetic Personnel,NaN,Contracture Treatment Devices: Dynamic Splint|...,33.48631,-111.91947,True

In [15]:
df_h = pd.DataFrame(df[['businessname','practicename','practiceaddress1','practiceaddress2','practicecity','practicestate','practicezip9code','telephonenumber']])

In [16]:
df_h.head(2)

,businessname,practicename,practiceaddress1,practiceaddress2,practicecity,practicestate,practicezip9code,telephonenumber
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,308 E OAK ST,NaN,KISSIMMEE,FL,347444537,4078700111
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,3303 N 75TH ST,NaN,SCOTTSDALE,AZ,852516402,4809451929

In [17]:
df_hm = pd.read_excel('Hospital Master xl.xlsx')

In [18]:
df_hm

,businessname,participationbegindate,practicename,Hospital_Id
0,ABDAS ARTIFICIAL EYE AND FACIAL CENTER INC,1998-01-01,"[""ABDA'S ARTIFICIAL EYE & FACIAL CENT""]",500
1,ACADIA HOME CARE,1998-01-01,['ROTECH'],501
2,ACCREDO HEALTH GROUP INC,2009-12-24,['ACCREDO HEALTH GROUP INC'],502
3,"ADVANCED PROSTHETICS AND ORTHOTICS, INC.",1998-01-01,['ADVANCED PROSTHETICS & ORTHOTICS IN'],503
4,ALAN H UPCHURCH O D PC,1998-01-01,"['ALAN H UPCHURCH OD, PC']",504
...,...,...,...,...
203,WESTFIELD PHARMACY INC,1998-01-01,['WESTFIELD PHARMACY INC'],703
204,"WHITE DRUG COMPANY OF JAMESTOWN, INC",1998-01-01,['THRIFTY WHITE PHARMACY #068'],704
205,WHITE DRUG ENTERPRISES INC,2011-05-06,['THRIFTY WHITE PHARMACY #022' 'THRIFTY WHITE ...,705
206,WILLIAMS BROS HEALTH CARE PHARMACY INC,1998-01-01,['WILLIAMS BROS HEALTH CARE PHARMACY'],706
207,WRIGHT & FILIPPIS LLC,1998-01-01,"['WRIGHT & FILIPPIS, LLC' 'WRIGHT & FILIPPIS L...",707

In [20]:
df_branch = pd.merge(left=df_hm, right=df_h, left_on='businessname', right_on='businessname')
df_branch = df_branch.drop(['businessname'], axis=1)

In [23]:
df_branch.drop('participationbegindate',inplace=True,axis=1)
df_branch.drop('practicename_x',inplace=True,axis=1)

In [24]:
df_branch.head(2)

,Hospital_Id,practicename_y,practiceaddress1,practiceaddress2,practicecity,practicestate,practicezip9code,telephonenumber
0,500,ABDA'S ARTIFICIAL EYE & FACIAL CENT,1111 VETERANS MEMORIAL BLVD,STE 4,KENNER,LA,700624103,5044693937
1,501,ROTECH,108 MAIN ST,STE 2,PRESQUE ISLE,ME,47692871,2077641700

In [27]:
df_h.head(2)

,businessname,practicename,practiceaddress1,practiceaddress2,practicecity,practicestate,practicezip9code,telephonenumber
0,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,308 E OAK ST,NaN,KISSIMMEE,FL,347444537,4078700111
1,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,3303 N 75TH ST,NaN,SCOTTSDALE,AZ,852516402,4809451929

In [28]:
df_branch['Branch_Id'] = range(1500, 1500+int(len(df_branch)))

In [31]:
df_branch.head(2)

,Hospital_Id,practicename_y,practiceaddress1,practiceaddress2,practicecity,practicestate,practicezip9code,telephonenumber,Branch_Id
0,500,ABDA'S ARTIFICIAL EYE & FACIAL CENT,1111 VETERANS MEMORIAL BLVD,STE 4,KENNER,LA,700624103,5044693937,1500
1,501,ROTECH,108 MAIN ST,STE 2,PRESQUE ISLE,ME,47692871,2077641700,1501

In [33]:
file_path = "Hospital Branch xl.xlsx"
df_branch.to_excel(file_path, index=False)