In [ ]:
Domain: Free coding

Function: Trial coding

Scenario: Trial coding

#Create list of numbers find count of 1st number in list

a = [8,2,3,4,5]

a.count(8)

#Write a Python program to find the median of three values.

def find_med(a,b,c):
    if (a<=b<=c) or (c<=b<=a):
        return b
    elif (b<=c<=c) or (c<=a<=b):
        return a
    else:
        return c

a = 8
b = 2
c = 3

med = find_med(a,b,c)
print(med)

#Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '*', 
#except the first char itself.

def replace_first_str(s):
    first_char = s[0]
    new_str = first_char + s[1:].replace(first_char,'*')
    return new_str

st = input('Enter a string: ')

res = replace_first_str(st)

print(res)

d = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

distinct_values = set()

for dictionary in d:
    for value in dictionary.values():
        distinct_values.add(value)

print("Distinct values:", distinct_values)


#Write a Python program to replace the last value of tuples in a list.
# Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)] # Consider sample data as input

l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

v = 100

list1 = [i[::-1] + (v,)for i in l]
print(list1)

#Write a Python program to sort a tuple by its float element.Sample data: 
#Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')] # consider sample data as input

l = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

l.sort(reverse=True)
print(l)

#Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
#Sample Dictionary ( n = 5) :Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

d = {i:i*i for i in range(1,6)}
d



Domain: Free coding

Function: Trial coding

Scenario: Interview

#Given data1 = (12,44,78,90,11,231,50,67,121,,â€¦....and so on)Sum all the two digit odd number. Print the total and the avg

dt = (12,44,78,90,11,231,50,67,121,2,4,24,54)
summ = 0
count = 0

for i in dt:
    if 10<= i <100 and i%2 != 0:
        summ = summ + i 
        count = count +1


avg = summ/count if count != 0 else 0
print('sum ',summ)
print('avg',avg)

#There is a file in the given working directory called data.txtGiven the string data_str = ""Do not be pushed around by the fears in your mind.
#Be led by the dreams in your heart append the above string contents to the data.txt file

st1 = 'Do not be pushed around by the fears in your mind'
st2 = 'Be led by the dreams in your heart'

st3 = st1+ ". " +st2
print(st3)

#Use filter and lambda to solve this data1 = {10,73,151,7,55,41,65,117,75,70,19,29,39,100,40,200,44,18}
#sum all the numbers in the range of 40 to 70 (both the range NOT inclusive)
data1 = {10,73,151,7,55,41,65,117,75,70,19,29,39,100,40,200,44,18}
fl_n= filter(lambda x: 40<x<70,data1)

l1 = list(fl_n)
summ = sum(l1)

print('Filtered list',l1)
print('Sum of numbers',summ)

# Using the loop display the following 1213 1415 16 1718 19 20 21
numbers = list(range(12, 22))

for i in range(len(numbers)):
    if i % 2 == 0: 
        print(f"{numbers[i]}{numbers[i+1]}", end=" ")
    elif i % 2 == 1: 
        continue
    else:  
        print(f"{numbers[i]}", end=" ")


#process the above data1 and find the name which is having maximum length and display its position in the data1
name = ["Surya","Avinash","Jaya","Uday Kumar","Anu","Palani","Vinu"]
max_length = 0
max_length_name = ""
max_length_position = -1

for i, name in enumerate(data1):
    if len(name) > max_length:
        max_length = len(name)
        max_length_name = name
        max_length_position = i

print(f" maximum length is '{max_length_name}' length {max_length}.")
print(f" position {max_length_position}")

# data1 = [17,189,90,4,117,28]print (data1[10])write the code to handle the exception in this (if any)

data1 = [17,189,90,4,117,28]
try:
    print(data1[10])
except IndexError:
    print("Index is out of range.")

# create a new dictionary which add all the contents of dict1 and dict2

dict1 = { 100 : 'Arun', 200 : 'Vijay', 345 : 'Kiran'}
dict2 = {500:'Vani', 181: 'Ramesh' }

new_d = dict1.copy()
new_d.update(dict2)
print(new_d)

#given data1 = ""Bangalore 120 Mysore 35 Hassan 117 Managlore 231 Mandya 50 Bijapur 116""
#process the string and sum all the numbers as available in the string
import re

data1 = 'Bangalore 120 Mysore 35 Hassan 117 Managlore 231 Mandya 50 Bijapur 116'
numbers = re.findall(r'\d+', data1)
total_sum = sum(map(int, numbers))
print(total_sum)

# use map ,lambda to solve thisdata1=[15,50,100,20,35,80]
# incr_percentage = 4
# modify all the numbers in the data1 by the incr_percentage meaning (say) 100 should become 104

d = [15,50,100,20,35,80]
emp = []
inc = 4

for i in d:
    c = i + 4
    emp.append(c)
print(emp)

#use the while loop to display all the numbers in the given start range and end range with a step valueFor example start range is 45 , 
#end range is 123 and step value is 5sum all the displayed number and print the total

start_range = 45
end_range = 123
step_value = 5

total_sum = 0
current_number = start_range


while current_number <= end_range:
    print(current_number,end = ' ')
    total_sum = total_sum + current_number
    current_number = current_number + step_value
print('\nTotal sum',total_sum)



Domain: Free coding

Function: Basic_to_file_handling

Scenario: Basic to File Handling

#  Write a Python program to compute the sum of all the elements of each tuple stored inside a list of tuples.
# Original list of tuples:[(1, 2), (2, 3), (3, 4)]
# Sum of all the elements of each tuple stored inside the said list of tuples:[3, 5, 7]

# Original list of tuples:[(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]
# Sum of all the elements of each tuple stored inside the said list of tuples:[9, -1, 7, 8]

def summ_tuple(tup_list):
    sums = []
    for i in tup_list:
        sums.append(sum(i))
    return sums
    
tuples1 = [(1, 2), (2, 3), (3, 4)]
tuples2 = [(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]


an1 = summ_tuple(tuples1)
an2 = summ_tuple(tuples2)

print(an1)
print(an2)

#Consider the variables below and convert that into unchangeable sequential typea=10b=4.5c='abc'd=True

a=10
b=4.5
c='abc'
d=True

immutable_sequence = (a, b, c, d)
print(immutable_sequence)

# Write a Python program to compute the element-wise sum of given tuples.
# Original lists:(1, 2, 3, 4)(3, 5, 2, 1)(2, 2, 3, 1)Element-wise sum of the said tuples:(6, 9, 8, 6)

tuples = [(1, 2, 3, 4), (3, 5, 2, 1), (2, 2, 3, 1)]
element_wise_sum = tuple(sum(elements) for elements in zip(*tuples))

print(element_wise_sum)

#Write a Python program to convert a list to a list of dictionaries.
color_names = ["Black", "Red", "Maroon", "Yellow"]
color_codes = ["#000000", "#FF0000", "#800000", "#FFFF00"]

dicts = [{'color_name': name, 'color_code': code} for name, code in zip(color_names, color_codes)]
print(dicts)

#Write a Python program to count the number of lines in a text file.
file_path = "file_path.txt"  
try:
    with open(file_path, 'r') as file:
        line_count = 0
        for line in file:
            line_count += 1
        
    print("Number of lines in the text file:", line_count)

except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
except Exception as e:
    print("An error occurred:", e)

#Write a Python program to count the number of strings from a given list of strings. 
#The string length is 2 or more and the first and last characters are the same.Sample List : ['abc', 'xyz', 'aba', '1221']
l =  ['abc', 'xyz', 'aba', '1221']

for i in l:
    if len(i) > 2 and i[0][0] == i[-1][0]:
        print(i,len(i))

# #Write a Python program to drop empty items from a given dictionary.
# Original Dictionary:{'c1': 'Red', 'c2': 'Green', 'c3': None}
# New Dictionary after dropping empty items:{'c1': 'Red', 'c2': 'Green'}
dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}

new_dict = {key: value for key, value in dict.items() if value is not None}
print(new_dict)

#Write a Python program to get the top three items in a shop.
data = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

st = sorted(data.items(), key=lambda x: x[1], reverse=True)
top_three = st[:3]
print(top_three)

#Write a Python program to read a file line by line and store it into a list.

file_path = "file_path.txt" 

try:
    with open(file_path, 'r') as file:
        lines = file.readlines()

    print("Lines read from the file:")
    for line in lines:
        print(line.strip())  
        
except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
except Exception as e:
    print("An error occurred:", e)

#Write a Python program to replace the last element in a list with another list.Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
#Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

d1 = [1, 3, 5, 7, 9, 10]
d2 = [2, 4, 6, 8]
new = d1[:-1] +d2
print(new)

#Write a python code to accept only 5 name if the names starts with letter 'R' and 
#create a function to check each name is having greater than 2 character and maximum 15 character, 
#create a function to check whether name starts and ends with same character 

def check_length(name):
    return 3 <= len(name) <= 15

def check_start_end(name):
    return name[0] == name[-1]

names = []
while len(names) < 5:
    name = input("Enter a name: ")
    if name.startswith('R'):
        names.append(name)
    else:
        print("Name must start with letter 'R'. Please try again.")

for name in names:
    if check_length(name) and check_start_end(name):
        print(f"{name}: Valid")
    else:
        print(f"{name}: Invalid")

# Pandas

In [ ]:
import pandas as pd
data1 = {
    "order_id": [1, 2, 3, 4, 5],
    "user_id": [101, 102, 101, 103, 102],
    "order_date": ["2023-05-01", "2023-05-03", "2023-05-07", "2023-05-10", "2023-05-12"],
    "amount": [100.0, 50.0, 150.0, 200.0, 80.0]
}

df_orders = pd.DataFrame(data1)


data2 = {
    "user_id": [101, 102, 103],
    "join_date": ["2023-01-01", "2023-02-15", "2023-04-05"],
    "location": ["Seattle", "Portland", "San Jose"]
}

df_users = pd.DataFrame(data2)


#Find the total amount spent by each user on their orders.

df_orders.groupby('user_id')['amount'].sum()

#Identify users who have placed more than oneorder. Provide their user_id, location, and totalnumber of orders placed.

mer_df = pd.merge(df_orders,df_users, on = 'user_id',how = 'left')
ord_c = mer_df.groupby(['user_id','location']).size().reset_index(name='order_count')
ord_c[ord_c['order_count']>1]



#For each location, find the average order amount and the latest order date.
mer_df['order_date'] = pd.to_datetime(mer_df['order_date'])
location_stats = mer_df.groupby('location').agg(vg_order_amount=('amount', 'mean'),latest_order_date=('order_date', 'max')).reset_index()
location_stats

#Find the user_id of individuals who have made an order amounting to more than 100 but haven't made any orders after May 7, 2023.

filtered_df = mer_df[(mer_df['amount'] > 100) & (mer_df['order_date'] <= '2023-05-07')]
filtered_df

# 2

In [ ]:
posts_data = {
    "post_id": [1, 2, 3, 4, 5],
    "user_id": [201, 202, 201, 203, 202],
    "post_date": ["2023-03-15", "2023-03-16", "2023-03-17", "2023-03-18", "2023-03-19"],
    "content": ["Photo", "Text", "Video", "Photo", "Link"]
}

reactions_data = {
    "react_id": [1, 2, 3, 4, 5],
    "post_id": [1, 2, 3, 4, 1],
    "user_id": [202, 203, 201, 201, 203],
    "reaction": ["Like", "Love", "Wow", "Haha", "Angry"]
}

# Create dataframes
df_posts = pd.DataFrame(posts_data)
df_reactions = pd.DataFrame(reactions_data)

df_posts

df_reactions



mer_df

#Find the posts that have received reactions from their own authors. List the post_id and reaction.

mer_df = pd.merge(df_posts,df_reactions,on='post_id',how = 'inner')
mer_df

sel_tag =mer_df[mer_df['user_id_x'] == mer_df['user_id_y']][['post_id', 'reaction']]
sel_tag

#For each type of reaction (Like, Love, etc.), calculate the total number of occurrences.

mer_df.groupby('reaction').size().reset_index(name = 'count')

#Find users who have posted content but have never reacted to any post, including their own.

user_pos = df_posts['user_id'].unique()
user_rec = df_reactions['user_id'].unique()

user_no_rec = set(user_pos) - set(user_rec)
print(user_no_rec)

# For each user, identify the total number of reactions they've received on their posts. If they haven't received any reactions, 
# they should still appear in the result with a count of 0.

lef_mer = pd.merge(df_posts,df_reactions,on='post_id',how = 'left')
reaction_counts = lef_mer.groupby('user_id_x')['react_id'].count().reset_index()
reaction_counts


reaction_counts.columns = ['user_id', 'reaction_count']

all_users = pd.DataFrame(df_posts['user_id'].unique(), columns=['user_id'])
result = pd.merge(all_users, reaction_counts, on='user_id', how='left').fillna(0)

result

# 3

In [ ]:
trips_data = {
    "trip_id": [1, 2, 3, 4, 5],
    "vehicle_id": [501, 502, 501, 503, 502],
    "start_time": ["2023-05-01", "2023-05-02", "2023-05-03", "2023-05-04", "2023-05-05"],
    "end_time": ["2023-05-01", "2023-05-02", "2023-05-03", "2023-05-04", "2023-05-05"]
}

# Sample data for Sensors
sensors_data = {
    "sensor_id": [1, 2, 3, 4, 5],
    "trip_id": [1, 2, 3, 4, 2],
    "sensor_type": ["Lidar", "Camera", "GPS", "Lidar", "GPS"],
    "status": ["Good", "Fault", "Good", "Good", "Good"],
    "readings": [3521, 0, 9872, 3612, 9654]
}
df_trips = pd.DataFrame(trips_data)
df_sensors = pd.DataFrame(sensors_data)

df_trips

df_sensors

#Find all trips where at least one sensor reported a fault. List the trip_id and the corresponding sensor_type.

mer_df = pd.merge(df_sensors,df_trips,on= 'trip_id',how = 'inner')
mer_df

mer_df[mer_df['status']=='Fault'][['trip_id', 'sensor_type']]

# For each vehicle, calculate the average readings for each sensor type when the status is "Good". List the vehicle_id,
# sensor_type, and average readings.

good_stat = mer_df[mer_df['status']=='Good']
good_stat
res = good_stat.groupby(['vehicle_id', 'sensor_type'])['readings'].mean().reset_index()
res

#Identify the vehicle with the highest number of trips. Provide the vehicle_id and the total number of trips.

trip = df_trips.groupby('vehicle_id')['trip_id'].count().reset_index(name = 'total_trips')
vehicle_with_max_trips  = trip.loc[trip['total_trips']].max()
vehicle_with_max_trips

#Which sensor type has the most recorded data across all trips (based on readings)? Provide the sensor_type and the accumulated readings.

tota_read = mer_df.groupby('sensor_type')['readings'].sum().reset_index()
sensor_with_max_readings = tota_read.loc[tota_read['readings'].idxmax()]
sensor_with_max_readings

# 4

In [ ]:
appstore_data = {
    "app_id": [1, 2, 3, 4, 5],
    "app_title": ["iChat", "iPhotoMagic", "iTuneUp", "iFixTools", "iRead"],
    "genre": ["Social", "Photo", "Music", "Utility", "Books"],
    "price": [0.00, 2.99, 0.00, 4.99, 0.00]
}
purchases_data = {
    "purchase_id": [1, 2, 3, 4, 5],
    "app_id": [1, 2, 1, 3, 2],
    "user_id": [401, 402, 403, 401, 401],
    "purchase_date": ["2023-04-10", "2023-04-11", "2023-04-12", "2023-04-13", "2023-04-14"]
}

df_appstore = pd.DataFrame(appstore_data)
df_purchases = pd.DataFrame(purchases_data)


#Identify the most expensive app in the App Store. Provide the app_title, genre, and price.

expen = df_appstore.sort_values(by = 'price',ascending=False).iloc[0]
expen.reset_index()

#Calculate the total earnings from the Utilitygenre.
uti = df_appstore[df_appstore['genre'] =='Utility']
tot_earn = uti['price'].max()
tot_earn

#Which users have spent the most money on apps? Provide the user_id and the total amount spent.

mer_df = pd.merge(df_appstore,df_purchases,on='app_id',how = 'inner')

users = mer_df.groupby('user_id')['price'].sum()
users

#Determine the genre popularity based on purchases.Provide the genre and its corresponding number of purchases, sorted in descending order of popularity.
genre_popularity = mer_df.groupby('genre')['purchase_id'].count().reset_index()
genre_popularity = genre_popularity.rename(columns={'purchase_id': 'number_of_purchases'})
genre_popularity_sorted = genre_popularity.sort_values(by='number_of_purchases', ascending=False)
genre_popularity_sorted

# 5

In [ ]:
shows_data = {
    "show_id": [1, 2, 3, 4, 5],
    "title": ["Streamer's Life", "The Lost Byte", "Data Love", "Query's End", "Join Junction"],
    "genre": ["Comedy", "Thriller", "Romance", "Sci-Fi", "Drama"],
    "seasons": [3, 1, 2, 4, 2]
}

# Sample data for Views
views_data = {
    "view_id": [1, 2, 3, 4, 5],
    "show_id": [1, 2, 1, 3, 2],
    "user_id": [501, 502, 503, 501, 501],
    "view_date": ["2023-05-01", "2023-05-02", "2023-05-03", "2023-05-04", "2023-05-05"],
    "season": [1, 1, 2, 1, 1]
}

# Create dataframes
df_shows = pd.DataFrame(shows_data)
df_views = pd.DataFrame(views_data)

df_shows

df_views

#Which show has the highest number of unique viewers? Provide the title and the count of viewers.
unique_viewers_per_show = df_views.groupby('show_id')['user_id'].nunique().reset_index()
unique_viewers_per_show = unique_viewers_per_show.rename(columns={'user_id': 'unique_viewers'})

max_unique_viewers_show = unique_viewers_per_show.loc[unique_viewers_per_show['unique_viewers'].idxmax()]
max_unique_viewers_show_info = df_shows[df_shows['show_id'] == max_unique_viewers_show['show_id']]
max_unique_viewers_show_title = max_unique_viewers_show_info.iloc[0]['title']
max_unique_viewers_count = max_unique_viewers_show['unique_viewers']
print(f"the show with the highest number of unique viewers is '{max_unique_viewers_show_title}' with {max_unique_viewers_count} views.")

#Calculate the total views per genre.
merged_df = pd.merge(df_shows, df_views, on='show_id', how='inner')

views_per_genre = merged_df.groupby('genre')['view_id'].count().reset_index()
views_per_genre = views_per_genre.rename(columns={'view_id': 'total_views'})

views_per_genre

# Identify users who have watched all the seasons of aparticular show.

show_id_to_check = 1
total_seasons_to_watch = df_shows[df_shows['show_id'] == show_id_to_check]['seasons'].iloc[0]
views_for_show = df_views[df_views['show_id'] == show_id_to_check]
users_watched_all_seasons  = views_for_show.groupby('user_id')['season'].nunique() == total_seasons_to_watch
user_ids_watched_all_seasons  = users_watched_all_seasons[users_watched_all_seasons].index.tolist()
user_ids_watched_all_seasons

# Find out which day had the highest streamingactivity. Provide the view_date and the number ofviews for that day.
views_per_day = df_views.groupby('view_date')['view_id'].count().reset_index()
views_per_day = views_per_day.rename(columns={'view_id': 'total_views'})
day_highest_activity = views_per_day.loc[views_per_day['total_views'].idxmax()]
day_highest_activity

In [208]:
import pandas as pd
import numpy as np

In [209]:
data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, np.nan, 8],
        'C': [np.nan, 10, 11, 12]}
df = pd.DataFrame(data)
df

     A    B     C
0  1.0  5.0   NaN
1  2.0  NaN  10.0
2  NaN  NaN  11.0
3  4.0  8.0  12.0

In [213]:
df.isnull()

       A      B      C
0  False  False   True
1  False   True  False
2   True   True  False
3  False  False  False

In [214]:
df_dropped = df.dropna()
df_dropped

     A    B     C
3  4.0  8.0  12.0

In [216]:
df_filled_mean = df.fillna(df.mean())
print(df_filled_mean)

          A    B     C
0  1.000000  5.0  11.0
1  2.000000  6.5  10.0
2  2.333333  6.5  11.0
3  4.000000  8.0  12.0

In [ ]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

criterion = df['A'] > 3

df_true = df[criterion]
df_false = df[~criterion]

In [228]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

In [229]:
df

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [235]:
new_row_dict = {'A': 4, 'B': 7}
df.loc[len(df)] = new_row_dict

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
5  4   7
6  4   7

In [237]:
timedelta_5_days = pd.Timedelta(days=5)
print(timedelta_5_days)

5 days 00:00:00

In [238]:
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)
df = df.drop('B', axis=1)
df

   A
0  1
1  2
2  3

In [240]:
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)
df = df.drop(1)
df

   A  B
0  1  4
1  2  5
2  3  6
   A  B
0  1  4
2  3  6

In [241]:
data = {'Category': ['A', 'B', 'A', 'C', 'A', 'B', 'A', 'C']}
df = pd.DataFrame(data)

frequency_count = df['Category'].value_counts()
frequency_count

Category
A    4
B    2
C    2
Name: count, dtype: int64

In [254]:
# Create a sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

new_index_names = ['X', 'Y', 'Z']
df.index = new_index_names
df.reset_index()

  index  A  B
0     X  1  4
1     Y  2  5
2     Z  3  6

In [257]:
df.set_index('A')

   B
A
1  4
2  5
3  6

In [258]:
data = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
series = pd.Series(data)

percentile_value = series.quantile(0.75)

print("75th percentile:", percentile_value)

75th percentile: 38.75