In [189]:
import pandas as pd
import re

In [190]:
file_name = 'meeting_file.txt'
with open(file_name, 'r', encoding='utf-8') as file:
    lines = file.readlines()

In [191]:
def starts_with_timestamp(line):
    return re.match(r'^\d{2}:\d{2}:\d{2}', line) is not None

In [192]:
split_lines = [line.strip() for line in lines]
messages = []
current_message = []

for line in split_lines:
    if starts_with_timestamp(line):
        if current_message:
            messages.append(current_message)
        current_message = [line]
    else:
        current_message.append(line)
if current_message:
    messages.append(current_message)

In [193]:
mes_ques = []

for message in messages:
    combined_message = ' '.join(message)
    if "From Ibridge 360 to Everyone:" in combined_message:
        stripped_message = re.sub(r'^\d{2}:\d{2}:\d{2} From Ibridge 360 to Everyone: ', '', combined_message)
        mes_ques.append(stripped_message)
        print(stripped_message)

find 5th highest salary in different way? (2 ways)
Why View performance is slow? What we should do to increase the performance of the view.
List the Query execution order.
What 4 steps every query goes through before it shows the results to us?
how to find if a column has an index or not ?
Write a query where you use case statement
webvisit visit_id site 100      www.google.com 101      www.facebook.com 100      www.google.com  Delete the duplicate records in webvisit table
Why union query runs slower (usually) compared to union all queries
What does implicit cursor mean in the database world?
What is the difference between synonyms and views?
Select substr(‘dhivakar’,-1,-1) from dual -- What is the output
I have 2 emp tables with 5 records each. Name like emp1 and emp2. Now i delete the emp1 records and truncate the emp2 records after that I rollback this transaction. How many rows you will have in emp1 and emp2
1.       I have an emp table with 5 records. I write a following query what will be the output. Select ename from emp where rownum = 3?
I have an dept table .In that dept table I have columns like deptno with primary key and dname with unique key. After that I insert vaue like this (insert into dept values(10,’’); insert into dept values(20,’’);), Does it allows null values second time ?
what are the types of statements in TCL you know

In [194]:
cibi_answer = []
for message in messages:
    combined_message = ' '.join(message)
    if "From Cibi Chellasamy to Ibridge 360(direct message):" in combined_message:
        stripped_message = re.sub(r'^\d{2}:\d{2}:\d{2} From Cibi Chellasamy to Ibridge 360\(direct message\):', '', combined_message)
        cibi_answer.append(stripped_message.strip())
        print(stripped_message.strip())

select salary from(select salary, row_number() over (order by salary desc) AS rn from  employees) ranked_salary where rn = 5  select distinct salary from(select salary, dense_rank() over (order by salary desc) as rnk from  employee) where rnk = 5
Views are slow because of complex logics and joins .We can make faster by using indexing and partitioning
1)from 2)where 3)group by 4)having 5)select 6)order by
select sal_index from user_ind_columns where table_name = 'employees' and column_name = 'salary'
select emp_name, case when gender = 'F' then 'Femalle' when gender = 'M' then 'Male' when gender = 'U' then 'Unknown' end as gender from employees
delete from webvisit where rowed not in(select max(rowid) from webvitis group by visit_id)
because of duplicate elimination union is slower
Cursor which are created by oracle itself while executing certain statement inside function or procedure is called implicit cursor
a view is a logical table where synonym is is a alternative name
Emplty string
what are the types of statements in TCL you know  Commit rollback save poin

In [195]:
df_questions = pd.DataFrame(mes_ques,columns=['Questions'])

In [196]:
df_cibi_answers = pd.DataFrame(cibi_answer,columns=['Answers'])
df_cibi_answers

                                              Answers
0   select salary from(select salary, row_number()...
1   Views are slow because of complex logics and j...
2   1)from 2)where 3)group by 4)having 5)select 6)...
3   select sal_index from user_ind_columns where t...
4   select emp_name, case when gender = 'F' then '...
5   delete from webvisit where rowed not in(select...
6    because of duplicate elimination union is slower
7   Cursor which are created by oracle itself whil...
8   a view is a logical table where synonym is is ...
9                                       Emplty string
10  what are the types of statements in TCL you kn...

In [197]:
ques_ids = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15]
df_questions['ques_id'] = ques_ids
df_questions.set_index('ques_id',inplace=True)

In [198]:
df_questions

                                                 Questions
ques_id
1        find 5th highest salary in different way? (2 w...
2        Why View performance is slow? What we should d...
3                          List the Query execution order.
4        What 4 steps every query goes through before i...
5            how to find if a column has an index or not ?
6               Write a query where you use case statement
7        webvisit visit_id site 100      www.google.com...
8        Why union query runs slower (usually) compared...
9        What does implicit cursor mean in the database...
10       What is the difference between synonyms and vi...
11       Select substr(‘dhivakar’,-1,-1) from dual -- W...
12       I have 2 emp tables with 5 records each. Name ...
13       1.       I have an emp table with 5 records. I...
14       I have an dept table .In that dept table I hav...
15        what are the types of statements in TCL you know

In [199]:
df_cibi_answers

                                              Answers
0   select salary from(select salary, row_number()...
1   Views are slow because of complex logics and j...
2   1)from 2)where 3)group by 4)having 5)select 6)...
3   select sal_index from user_ind_columns where t...
4   select emp_name, case when gender = 'F' then '...
5   delete from webvisit where rowed not in(select...
6    because of duplicate elimination union is slower
7   Cursor which are created by oracle itself whil...
8   a view is a logical table where synonym is is ...
9                                       Emplty string
10  what are the types of statements in TCL you kn...

In [200]:
ans_id = [1,2,3,5,6,7,8,10,9,11,15]
df_cibi_answers['ques_id'] = ans_id
df_cibi_answers.set_index('ques_id',inplace=True)
df_cibi_answers

                                                   Answers
ques_id
1        select salary from(select salary, row_number()...
2        Views are slow because of complex logics and j...
3        1)from 2)where 3)group by 4)having 5)select 6)...
5        select sal_index from user_ind_columns where t...
6        select emp_name, case when gender = 'F' then '...
7        delete from webvisit where rowed not in(select...
8         because of duplicate elimination union is slower
10       Cursor which are created by oracle itself whil...
9        a view is a logical table where synonym is is ...
11                                           Emplty string
15       what are the types of statements in TCL you kn...

In [201]:
df_cibi_answers.sort_index()

                                                   Answers
ques_id
1        select salary from(select salary, row_number()...
2        Views are slow because of complex logics and j...
3        1)from 2)where 3)group by 4)having 5)select 6)...
5        select sal_index from user_ind_columns where t...
6        select emp_name, case when gender = 'F' then '...
7        delete from webvisit where rowed not in(select...
8         because of duplicate elimination union is slower
9        a view is a logical table where synonym is is ...
10       Cursor which are created by oracle itself whil...
11                                           Emplty string
15       what are the types of statements in TCL you kn...

In [205]:
df_merged = pd.merge(df_questions, df_cibi_answers,on = 'ques_id', how='outer')
df_merged

,Questions,Answers
ques_id,,
1,find 5th highest salary in different way? (2 w...,"select salary from(select salary, row_number()..."
2,Why View performance is slow? What we should d...,Views are slow because of complex logics and j...
3,List the Query execution order.,1)from 2)where 3)group by 4)having 5)select 6)...
4,What 4 steps every query goes through before i...,NaN
5,how to find if a column has an index or not ?,select sal_index from user_ind_columns where t...
6,Write a query where you use case statement,"select emp_name, case when gender = 'F' then '..."
7,webvisit visit_id site 100 www.google.com...,delete from webvisit where rowed not in(select...
8,Why union query runs slower (usually) compared...,because of duplicate elimination union is slower
9,What does implicit cursor mean in the database...,a view is a logical table where synonym is is ...
10,What is the difference between synonyms and vi...,Cursor which are created by oracle itself whil...
11,"Select substr(‘dhivakar’,-1,-1) from dual -- W...",Emplty string
12,I have 2 emp tables with 5 records each. Name ...,NaN
13,1. I have an emp table with 5 records. I...,NaN
14,I have an dept table .In that dept table I hav...,NaN
15,what are the types of statements in TCL you know,what are the types of statements in TCL you kn...

In [207]:
df_merged['Answers'].fillna('Not Answered',inplace=True)
df_merged

,Questions,Answers
ques_id,,
1,find 5th highest salary in different way? (2 w...,"select salary from(select salary, row_number()..."
2,Why View performance is slow? What we should d...,Views are slow because of complex logics and j...
3,List the Query execution order.,1)from 2)where 3)group by 4)having 5)select 6)...
4,What 4 steps every query goes through before i...,Not Answered
5,how to find if a column has an index or not ?,select sal_index from user_ind_columns where t...
6,Write a query where you use case statement,"select emp_name, case when gender = 'F' then '..."
7,webvisit visit_id site 100 www.google.com...,delete from webvisit where rowed not in(select...
8,Why union query runs slower (usually) compared...,because of duplicate elimination union is slower
9,What does implicit cursor mean in the database...,a view is a logical table where synonym is is ...
10,What is the difference between synonyms and vi...,Cursor which are created by oracle itself whil...
11,"Select substr(‘dhivakar’,-1,-1) from dual -- W...",Emplty string
12,I have 2 emp tables with 5 records each. Name ...,Not Answered
13,1. I have an emp table with 5 records. I...,Not Answered
14,I have an dept table .In that dept table I hav...,Not Answered
15,what are the types of statements in TCL you know,what are the types of statements in TCL you kn...

In [209]:
excel_file = 'MeetingQA.csv'
df_merged.to_csv(excel_file, index=True)