In [37]:
import pandas as pd
import glob
import os
import json
from datetime import datetime

In [38]:
file_paths = glob.glob(r'C:\Users\DELL\OneDrive\Desktop\AT files\Daily\raw\*.csv')

circuit_df = pd.DataFrame()
races_df = pd.DataFrame()

for file_path in file_paths:
    filename = os.path.basename(file_path).split('.')[0]
    df = pd.read_csv(file_path)
    if 'circuits' in filename.lower():
        circuit_df = df
    elif 'races' in filename.lower():
        races_df = df

In [39]:
directory = r'C:\Users\DELL\OneDrive\Desktop\AT files\Daily\raw'
file_paths = {
    'results': os.path.join(directory, 'results.json'),
    'pit_stops': os.path.join(directory, 'pit_stops.json'),
    'drivers': os.path.join(directory, 'drivers.json'),
    'constructors': os.path.join(directory, 'constructors.json')
}

In [40]:
results_df = pd.read_json(file_paths['results'],lines=True)
constructors_df = pd.read_json(file_paths['constructors'],lines=True)
pit_stops_df = pd.read_json(file_paths['pit_stops'])
drivers_df = pd.read_json(file_paths['drivers'],lines=True)

In [41]:
results_df 
constructors_df 
pit_stops_df
drivers_df
circuit_df
races_df

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...,...,...,...,...,...,...,...,...
1053,1069,2021,18,69,United States Grand Prix,2021-10-24,19:00:00,http://en.wikipedia.org/wiki/2021_United_State...
1054,1070,2021,19,32,Mexico City Grand Prix,2021-10-31,19:00:00,http://en.wikipedia.org/wiki/2021_Mexican_Gran...
1055,1071,2021,20,18,Brazilian Grand Prix,2021-11-07,17:00:00,http://en.wikipedia.org/wiki/2021_Brazilian_Gr...
1056,1072,2021,22,77,Saudi Arabian Grand Prix,2021-12-05,16:00:00,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
1057,1073,2021,23,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...

In [42]:
dataframes = [results_df, constructors_df, pit_stops_df, drivers_df, circuit_df, races_df]
for df in dataframes:
    if 'url' in df.columns:
        df.drop(columns='url', inplace=True)

In [43]:
today_date = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
dataframes = [results_df, constructors_df, pit_stops_df, drivers_df, circuit_df, races_df]
for df in dataframes:
    df['created_date'] = today_date

In [46]:
column_mappings = {'raceId': 'race_id','circuitId':'circuit_id','driverId':'driver_id','raceID':'race_id','constructorId':'constructor_id','resultId':'result_id'}
dataframes = [results_df, constructors_df, pit_stops_df, drivers_df, circuit_df, races_df]

for df in dataframes:
    for current_col, new_col in column_mappings.items():
        if current_col in df.columns:
            df.rename(columns={current_col: new_col}, inplace=True)

In [ ]:
# results_df.head(1)
# constructors_df.head(1)
# pit_stops_df.head(1)
# drivers_df.head(1)
# circuit_df.head(1)
# races_df.head(1)

In [61]:
races_df.head(1)

,race_id,year,round,circuit_id,name,date,time,created_date
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,2024-07-18 11:58:11

In [62]:
circuit_df.head(1)

,circuit_id,circuit_ref,name,location,country,lat,lng,alt,created_date
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10,2024-07-18 11:58:11

In [63]:
drivers_df.head(1)

,driver_id,driver_ref,number,code,name,dob,nationality,created_date
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,2024-07-18 11:58:11

In [64]:
pit_stops_df.head(1)

,race_id,driver_id,stop,lap,time,duration,milliseconds,created_date
0,841,153,1,1,17:05:23,26.898,26898,2024-07-18 11:58:11

In [65]:
constructors_df.head(1)

   constructor_id constructor_ref     name nationality         created_date
0               1         mclaren  McLaren     British  2024-07-18 11:58:11

In [66]:
results_df.head(1)

,result_id,race_id,driver_id,constructor_id,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,created_date
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1,2024-07-18 11:58:11

In [59]:
column_mappings = {'lat':'latitude','lng':'longitude','alt':'altitude'}
dataframes = [constructors_df, drivers_df, circuit_df]

for df in dataframes:
    for current_col, new_col in column_mappings.items():
        if current_col in df.columns:
            df.rename(columns={current_col: new_col}, inplace=True)